<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Agentes de Carga Intenacional ACI | FREIGHT FORWARDER</title>
		<link href="../css/master.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-scrolling-animations="true">
		<div class="sp-body">
			<header id="this-is-top">
				<div class="container-fluid">
					<div class="topmenu row">
						<nav class="col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-sm-6 col-md-5 col-lg-5">
							<a></a>
						</nav>
					</div>
					<div class="row header">
	                    <div class="col-sm-3 col-md-3 col-lg-3">
	                        <a href="../" id="logo"></a>
	                    </div>
	                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-8 col-md-8 col-lg-8">
	                        <div class="text-right header-padding">
	                            <div class="h-block"><span>Email</span>ventas@senni.com.mx</div>
	                            <div class="h-block"><span>Web</span>senni.com.mx</div>
	                            <p style="text-transform:capitalize; font-size:18px;">Rompiendo Barreras,<br /> Cumpliendo tus Metas!!!</p>
	                        </div>
	                    </div>
	                </div>
					<div id="main-menu-bg"></div>  
					<a id="menu-open" href="#"><i class="fa fa-bars"></i></a> 
					<nav class="main-menu navbar-main-slide">
						<ul class="nav navbar-nav navbar-main">
						  <li><a href="../">Inicio</a></li>
						  <li><a href="../quienes_somos/">Quiénes somos</a></li>
							<li class="dropdown">
							  <a data-toggle="dropdown" class="dropdown-toggle border-hover-color1" >Servicios <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="../servicios/flete_internacional/">Flete Internacional</a></li>
                                    <li><a href="../servicios/revision_origen/">Revisión de Origen</a></li>
                                    <li><a href="../servicios/consultoria_comercio_exterior/">Consultoría en Comercio Exterior y Tramites Gubernamentales</a></li>
                                    <li><a href="../servicios/almacenaje/">Almacenaje</a></li>
									<li><a href="../servicios/distribucion/">Distribución</a></li>
                                    <li><a href="../servicios/seguro_carga/">Seguro de Carga</a></li>
                                    <li><a href="../servicios/mercancia_peligrosa/">Mercancía Peligrosa</a></li>
								</ul>
							</li>
							<li><a href="../contacto/">Contacto</a></li>
							<li><a href="#">Rastreo</a></li>
						</ul>
	                </nav>
					<a id="menu-close" href="#"><i class="fa fa-times"></i></a> 
				</div>
			</header>

			<div class="bg-image page-title">
				<div class="container-fluid">
					<a href="#"><h1>Agentes de Carga Internacional ACI</h1></a>
					<div class="pull-right">
						<a href="../"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Agentes de Carga Internacional</a>
					</div>
				</div>
			</div>

			<div class="container-fluid block-content">
				<div class="row">
					<div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.3s">
						<h1>Agente De Carga Internacional ACI (Freight Forwarder)
</h1>
						<p style="text-align:justify">Entre las principales tareas y responsabilidades de nosotros como<em><strong> Agentes de Carga Internacional (ACI)</strong></em> son:<br /><br />

                        &bull; Búsqueda y selección del medio de transporte.<br />
                        &bull; Coordinación del embalaje y recolección del material.<br />
                        &bull; Revisión cumplimiento de las normas aplicables a la carga.<br />
                        &bull; Realización de formalidades del seguro y del transporte a petición del cliente.<br />
                        &bull; En caso de tener la autorización pertinente, se podrán realizar trámites aduaneros.<br />
                        &bull; Consolidación de carga para obtener mejores tarifas.<br />
                        &bull; Almacenaje y distribución de la carga, según se convenga con el cliente.<br />
                        &bull; Emisión de los documentos homologados internacionalmente según sea el caso.<br />
                        &bull; Seguimiento al tránsito de la carga.<br />
                        &bull; Coordinación de transporte internacional.

</p>
					</div>
					<div class="col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
						<img src="../img/aci.jpg">
					</div>
				</div>
			</div>
			<footer>
        		<div class="color-part2"></div>
        		<div class="color-part"></div>
        		<div class="container-fluid">
            		<div class="row block-content">
               			<div class="col-sm-4 wow zoomIn" data-wow-delay="0.3s">
                    		<a href="#" class="logo-footer"></a>
	                        <p>Arquitectos del Transporte</p>
	                        <div class="footer-icons">
	                            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
	                            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
	                            <a href="#"><i class="fa fa-pinterest-square fa-2x"></i></a>
	                            <a href="#"><i class="fa fa-vimeo-square fa-2x"></i></a>
	                        </div>
	                    </div>
	                    <div class="col-sm-2 wow zoomIn" data-wow-delay="0.3s">
                    		<h4>Servicios</h4>
	                        <nav>
                        		<a href="../servicios/flete_internacional/">Flete Internacional</a>
	                            <a href="../servicios/distribucion/">Distribución Nacional</a>
	                            <a href="../servicios/almacenaje/">Almacenaje</a>
	                            <a href="../contacto/">Contacto</a>
	                        </nav>
	                    </div>
	                    <div class="col-sm-3 wow zoomIn" data-wow-delay="0.3s">
                    		<h4>Información de Contacto</h4>
	                        <div class="contact-info">
	                           <span><i class="fa fa-location-arrow"></i>San Francisco 1626 Ofi. 201– 202, Col. Del valle sur, Del. Benito Juárez, CDMX., México C.P. 03100</span>
	                            <span><i class="fa fa-phone"></i>(55) 7030 4506 <br />(55) 7030 4501</span>
	                            <span><i class="fa fa-envelope"></i>ventas@senni.com.mx</span>
	                        </div>
	                    </div>
                         <div class=	"col-sm-3 wow zoomIn" data-wow-delay="0.3s">
                         <h4 style="margin-bottom:10px;">Miembros de:</h4>
                    		<div class="col-sm-6">
                            	<img src="../img/global_alliance.png">
                                <img src="../img/jctrans.png">
                            </div>
                            <div class="col-sm-6">
                            <img src="../img/coparmex.png">
                            <img src="../img/WCA.png">
                            </div>
	                    </div>
                        </div>
             		<div class="copy text-right"><a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>Developed by <a href="http://mktv.mx" title="Marketing Digital">MKTV.mx</a>&copy; 2016 Senni Logistics</div></div>
	        </footer>
		</div>
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/jquery-ui.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/modernizr.custom.js"></script>
        <script src="../assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="../js/waypoints.min.js"></script>
        <script src="../js/jquery.easypiechart.min.js"></script>
		<script src="../assets/owl-carousel/owl.carousel.min.js"></script>
	    <script type="text/javascript" src="../assets/isotope/jquery.isotope.min.js"></script>
		<script src="../js/jquery.smooth-scroll.js"></script>
		<script src="../js/wow.min.js"></script>
		<script src="../js/jquery.placeholder.min.js"></script>
		<script src="../js/smoothscroll.min.js"></script>
		<script src="../js/theme.js"></script>      
	</body>
</html>